<% if((typeof str_type !== "undefined")
    && (typeof str_mimetype !== "undefined")
    && (typeof str_resolution !== "undefined")
    && (typeof str_download !== "undefined")) { %>
<div id="engage_tab_downloadableVideos_content">
<table class="table table-bordered table-hover">
<thead>
	<tr>
		<th><%= str_type %></th>
		<th><%= str_mimetype %></th>
		<th><%= str_resolution %></th>
		<th><%= str_download %></th>
	</tr>
</thead>
	<tbody>
	<% if(tracks && Array.isArray(tracks)) { %>
		<% _.each(tracks, function(item) {
                        var type = ""; %>
			<tr>

                    <% if (item.type.indexOf('composite') > -1) { type = '_SideBySide'; %>
				<td>Side By Side</td>

                    <% } else if (item.type.indexOf('presenter') > -1 &&
                                  item.mimetype.indexOf("audio") > -1) { %>
				<td>Presenter (audio-only)</td>

                    <% } else if (item.type.indexOf('presenter') > -1) { type = "_Presenter"; %>
				<td>Presenter (video)</td>

                    <% } else if (item.type.indexOf('presentation2') > -1) { type =
                    "_Presentation"; %>
				<td>Presentation 2 (video)</td>

                    <% } else if (item.type.indexOf('presentation') > -1) { type =
                    "_Presentation"; %>
				<td>Presentation (video)</td>

                    <% } else { %>
                                <td>Media track (<% item.type %>)</td>
                    <% } %>
				<td>
                    <%= item.mimetype.replace('audio/mpeg', 'audio/mp3') %>
                </td>
		   <%
                      if(typeof item.video !== "undefined") {
                        var vidDims = item.video.resolution
                                        .split('x')
                                        .map(function(dim) {
                                          return parseInt(dim);
                                        });
                        var pixelCount = vidDims[0] * vidDims[1];
      
		        if (pixelCount >= 921600 ){
		   %><td>High Quality (<%= vidDims[1] %>p)</td><%
                        } 
                        else if (pixelCount >= 307200 ){
		          %><td>Medium Quality (<%= vidDims[1] %>p)</td><%
                        } 
                        else { %>
		          <td>Low Quality (<%= vidDims[1] %>p)</td><%
                        }
	              } else if (item.audio && item.audio.bitrate) { %>
		        <td><%= parseInt(item.audio.bitrate/1000) %>kbps</td>
		   <% } else { %>
                        <td></td>
                   <% } %>
		  <td>
                    <a class="btn btn-default" href="<%= item.url %>" role="button" target="_blank">
					    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
				    </a>
                </td>
			</tr>
		<% }); %>
	<% } %>
	</tbody>
</table>
</div>
<% } %>
